@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <div class="mainPagesDiv">
        <div class = "fieldHolder">
            <h2>Index</h2>

            @if (System.Web.HttpContext.Current.Session["New"] != null)
            {
            <p>Welcome, @System.Web.HttpContext.Current.Session["New"]!</p>
            }
            
        </div>
    </div>
</div>

